---
import { LargeEmail } from "./large-email.tsx";
import { Songs } from "./songs.tsx";
import ThemeToggle from "./theme-toggle.astro";

import { Image } from 'astro:assets';
import simProfileImage from '../assets/images/sim_profile_square.png';
import figmaIcon from '../assets/icons/figma_icon.svg';
import astroIcon from '../assets/icons/astro_icon.svg';
import heartIcon from '../assets/icons/heart_icon.svg';

const currentYear = new Date().getFullYear();
---

<footer class="main-footer u-pad-be-l">
  <div class="footer-background"></div>
  <div class="u-container main-footer--inner">
    <div class="footer-contact u-flex u-mrg-be-xl">
      <div class="footer-contact--blurb">
        <div class="footer-profile">
          <Image src={simProfileImage} alt="Graphic illustration of Sim smiling in a red shirt on a purple background" />
          <h3 class="u-fontsize-1 u-font-display">It's me, Sim</h3>
        </div>
        <p class="u-subtitle u-mrg-be-l footer-subtitle">I love a chat</p>
        <p class="u-fontsize-1 u-font-display u-mrg-be-2xl footer-blurb">Welcome to the footer where my contact details are, as you'd expect...</p>        
      </div>
      <div class="footer-contact--details">
        <LargeEmail client:load />
        <nav class="footer-links u-mrg-bs-l" role="menu">
          <ul>
            <li role="none">
              <a href="https://www.linkedin.com/in/simeonseneca" role="menuitem" class="u-subtitle light">
                <span>linkedin ↗</span>
              </a>
            </li>
            <li role="none">
              <a href="https://simseneca.design/SimeonSeneca-CV-Feb25.pdf" class="u-subtitle light" role="menuitem">
                <span>CV</span>
                <svg width="11" height="13" viewBox="0 0 11 13" xmlns="http://www.w3.org/2000/svg">
                  <path d="M6.82705 6.89364V0.641308C6.82705 0.504082 6.71579 0.392822 6.57856 0.392822H5.41896C5.28173 0.392822 5.17047 0.504082 5.17047 0.641308V6.89364H4.21672C3.77396 6.89364 3.55223 7.42894 3.8653 7.74204L5.64734 9.52407C5.84143 9.71816 6.15609 9.71816 6.35016 9.52407L8.1322 7.74204C8.44527 7.42897 8.22354 6.89364 7.78078 6.89364H6.82705Z"/>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M11 12.6071H0.392578V11.588H11V12.6071Z"/>
                </svg>
              </a>            
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <nav class="footer-nav u-mrg-be-m" role="menu">
      <p class="u-subtitle u-mrg-be-s">More things</p>
      <ul class="u-flex">
        <li role="none">
          <a href="/uses" role="menuitem" class="u-font-body u-fontsize-1 light">
            <span>/uses</span>
          </a>
        </li>
        <li role="none">
          <a href="https://www.instagram.com/simeon.seneca" role="menuitem" class="u-font-body u-fontsize-1 light">
            <span>/painting ↗</span>
          </a>
        </li>
        <li role="none">
          <a href="/rss.xml" role="menuitem" class="u-font-body u-fontsize-1 light">
            <span>/rss</span>
          </a>
        </li>
        <li role="none">
          <a href="https://analytics.simseneca.design" role="menuitem" class="u-font-body u-fontsize-1 light">
            <span>/analytics ↗</span>
          </a>
        </li>
      </ul>
    </nav>
    <hr class="u-mrg-be-m" />
    <div class="footer-signoff u-flex">      
      <div class="footer-signoff__love u-flex">
        <p class="u-subtitle">Made with</p>
        <Image src={figmaIcon} alt="Figma icon" />
        <Image src={astroIcon} alt="Astro icon" />
        <p class="u-subtitle">and</p>
        <Image src={heartIcon} alt="Heart icon" />
      </div>
      <div class="footer-signoff__bits">
        <ThemeToggle />
        <Songs client:load />
        <p class="u-subtitle">© {currentYear}, Simeon Seneca</p>
        <!-- <a href="/changelog" class="u-subtitle signoff-link">Changelog</a> -->
      </div>
    </div>
  </div>
</footer>

<style>
  .main-footer {    
    position: relative;

    .footer-background {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 0;
      height: calc(100% - var(--space-3xl));
      background-color: var(--navy);
    }

    .main-footer--inner {
      position: relative;
      z-index: 10;
    }
  }

  .footer-contact {
    background-color: var(--purple);
    color: var(--beige);
    border-radius: 10px;
    border: 2px solid var(--border-primary);
    gap: var(--space-2xl);
    justify-content: space-between;
    align-items: end;
    padding: var(--space-xl) var(--space-m);

    .footer-contact--blurb {
      flex-basis: 100%;
      max-width: 500px;
      display: grid;
      grid-template-areas:
        "profile"
        "subtitle"
        "blurb"
      ;

      .footer-profile {
        display: flex;        
        flex-direction: column;
        gap: var(--space-s);
        margin-block-end: var(--space-s);
        grid-area: profile;

        img {
          width: 60px;
          border-radius: 50%;
          height: auto;
          border: 2px solid var(--navy);
        }

        h3 {
          display: none;
        }
      }  
      
      .footer-subtitle {
        grid-area: subtitle;
      }

      .footer-blurb {
        grid-area: blurb;
      }
    }

    .footer-contact--details {
      
      ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: var(--space-s);
        justify-content: start;

        @media (min-width: 900px) {
          justify-content: end;
        }

        li a {
          --inline-padding: var(--space-2xs);
        }
      }
    }
  }

  .footer-nav {
    color: var(--beige-dark);
    
    p {
      color: var(--navy-lighter);
    }
    
    ul {
      list-style: none;

      li:first-of-type a {
        padding-left: 0;

        &::after {
          left: 0;
        }

        &:hover::after {
          width: calc(100% - var(--space-xs));
        }
      }
    }
  }

  hr {
    border-top: solid 2px var(--navy-lighter);
  }

  .footer-signoff {
    color: var(--beige);
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    .footer-signoff__love {
      align-items: center;
      gap: var(--space-xs);

      img {
        height: 22px;
        width: auto;
      }
    }

    .footer-signoff__bits {
      display: flex;
      gap: var(--space-s);
      align-items: center;
      flex-wrap: wrap;

      button[data-theme-toggle] {
        display: block;

        @media (min-width: 920px) {
          display: none;
        }
      }
      
      p {
        color: var(--navy-lighter);
      }

      .signoff-link {
        color: var(--navy-lightest);
        transition: all 0.1s ease;

        &:hover {
          color: var(--beige-light);
        }
      }
    }
  }

  @media (min-width: 550px) {

    .footer-contact {
      padding: var(--space-l);      

      .footer-contact--details {

        ul {
          flex-direction: row;
        }
      }
    }
  }

  @media (min-width: 900px) {  

    .footer-contact {        
      flex-wrap: nowrap;

      .footer-contact--blurb {
        flex-basis: 60%;
        grid-template-areas:          
          "subtitle"
          "blurb"
          "profile"
        ;

        .footer-profile {
          align-items: center;
          flex-direction: row;
          margin-block-end: 0;

          img {
            width: 80px;
          }

          h3 {
            display: block;
          }
        }
      }

      .footer-contact--details {

        ul li a {
          padding-inline-start: var(--space-2xs);
        }
      }
    }
  }

  @media (min-width: 1000px) {
    
    .footer-contact {
      padding: var(--space-2xl);

      .footer-contact--blurb {
        flex-basis: 40%;
      }
    }
  }
</style>