---
import { formatEdition, formatPostDate } from "../scripts/theme-general.js";

interface Props {
	title?: string | undefined;
  url?: string | undefined;
	description?: string | undefined;
  edition?: string | undefined;
  pubDate?: string | undefined;
}

const { title, url, description, edition, pubDate } = Astro.props;

const editionFormatted = formatEdition(edition);
const postDateFormatted = formatPostDate(pubDate);
---

<li class="post-thumb">
  <a href={url}>
    <div class="post-thumb__meta">
      <h3 class="edition u-font-display u-fontsize-2 u-mrg-be-xs">
        {editionFormatted}
      </h3>
      <time datetime={pubDate} class="u-subtitle u-fontsize--1">
        {postDateFormatted}
      </time>
    </div>
    <div class="post-thumb__content">
      <h2 class="u-font-display u-fontsize-2 u-mrg-be-xs">{title}</h2>
      <p class="description u-fontsize-1">{description}</p>
    </div>
  </a>
</li>

<style>

  .post-thumb {
    --desktop-block-padding: var(--space-l);

    list-style-type: none;
    padding-block: var(--space-l);

    @media (min-width: 600px) {
      padding-inline-start: var(--space-m);
      border-inline-start: 2px solid var(--border-primary);
    }

    @media (min-width: 1000px) {
      padding-inline-start: 0;
      border-inline-start: 0;
      padding-block: 0;
    }

    a {
      display: flex;
      border-radius: 10px;
      flex-direction: column;
      align-items: flex-start;

      @media (min-width: 1000px) {
        flex-direction: row;
      }

      &:hover {

        .post-thumb__content h2,
        .post-thumb__meta .edition,
        .post-thumb__content .description {
          color: var(--accent-2);
        }

        @media (min-width: 1000px) {

          .post-thumb__content::before {
            height: 100%;
          }
        }
      }
    }

    .post-thumb__meta {
      min-width: 250px;      
      display: flex;
      align-items: baseline;
      gap: var(--space-s);

      @media (min-width: 1000px) {
        display: block;
        padding-inline-end: var(--space-xl);
        text-align: right;
        padding-block: var(--desktop-block-padding);
      }

      .edition {
        color: var(--accent-1);
        transition: color .2s ease;
      }

      a,
      time {
        display: block;
        text-wrap: nowrap;
      }

      time {
        color: var(--text-secondary);
      }      
    }

    .post-thumb__content {
      flex: 1;
      position: relative;
      padding-block-start: var(--space-xs);      

      @media (min-width: 1000px) {
        border-inline-start: 2px solid var(--border-primary);
        padding-inline-start: var(--space-xl);
        padding-block: var(--desktop-block-padding);
      }

      h2,
      .description {
        transition: color .2s ease;
      }

      .description {
        color: var(--text-secondary);
      }

      &::before {
        content: '';
        left: -3px;
        top: 0;
        width: 4px;
        height: 0%;
        background-color: var(--accent-2);
        position: absolute;
        transition: height .2s ease;
      }
    }
  }
</style>