---
// A wrapper component for https://simpleicons.org

export interface Props {
  icon: { title: string; path: string, hex?: string };
  size?: number;
  useBrandColour?: boolean;
}
const { icon, size = 24, useBrandColour = false } = Astro.props;

const fillColour = useBrandColour && icon.hex ? `#${icon.hex}` : 'currentColor';
---

<svg
  role="img"
  viewBox="0 0 24 24"
  xmlns="http://www.w3.org/2000/svg"
  fill={fillColour}
  width={size}
  height={size}
>
  <title>{icon.title}</title>
  <path d={icon.path} />
</svg>
