---
import BaseLayout from './base-layout.astro';
const {frontmatter} = Astro.props;

import { Image } from 'astro:assets';
import simProfileImage from '../assets/images/sim_profile_square.png';
import { SmallEmail } from "../components/small-email.tsx"
import { formatEdition, formatPostDate } from "../scripts/theme-general.js";

import { GLOBAL_STRINGS } from '../constants/strings';
const bio_blurb = GLOBAL_STRINGS.BIO_BLURB;

const editionFormatted = formatEdition(frontmatter.edition);
const postDateFormatted = formatPostDate(frontmatter.pubDate);
const pageTitleFormatted = frontmatter.title + " | Sim Seneca";
---

<BaseLayout 
	title={pageTitleFormatted}
	description={frontmatter.description}
>
	<article class="post-wrapper">
		<div class="u-container">
			<header class="post-header u-pad-l">
				<p class="edition u-font-display u-fontsize-3">
					{editionFormatted}
				</p>
				<h1 class="u-font-display u-fontsize-6 u-mrg-be-m">{frontmatter.title}</h1>				
				<p class="description u-fontsize-2 u-mrg-be-2xl">{frontmatter.description}</p>
				<time datetime="{frontmatter.pubDate}" class="u-subtitle u-fontsize--1">
					{postDateFormatted}
				</time>
			</header>
			<div class="post-body u-mrg-be-3xl">
				<div class="post-body__content u-wysiwyg">					
					<slot />
				</div>
			</div>
		</div>
	</article>
</BaseLayout>

<style>

	.post-header {
		background-color: var(--bg-fourth);
		border: 2px solid var(--border-primary);
		border-top: 0;
		border-radius: 0 0 10px 10px;

		h1 {
			max-width: 900px;
		}

		.edition {
			color: var(--accent-1);
		}

		.description {
			max-width: 700px;
		}

		time {
			color: var(--text-secondary);
		}
	}

	.post-body {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		flex-wrap: wrap;		

		.post-body__content {
			max-width: min(720px, 100%);
			padding: var(--space-l) 0;			
		}
	}

	@media (min-width: 700px) {

		.post-body {

			.post-body__content {
				padding: var(--space-l);
			}
		}
	}

</style>